.paper {
    width: 100%;
    max-width: 390px;
    background: rgb(23, 23, 33);
    border: 0.1px solid rgb(133, 76, 230);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;

    .title {
        font-size: 28px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        margin-bottom: 20px;
        text-align: center;
        margin: 5px auto 10px auto;

        .icons {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}